@font-face {
    src: url("fonts/fira-sans.ttf");
    font-family: 'Fira Sans';
}

@font-face {
    src: url("fonts/google-sans.ttf");
    font-family: 'Google Sans';
}

@font-face {
    src: url("fonts/alfaslabone.ttf");
    font-family: 'Alfa Slab One';
}

body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: rgb(158, 158, 158);
}

body > div#content.main.center {
    margin: auto;
    padding-top: 20px;
    margin-left: 70px;
}

body > header.locked#links {
    display: flex;
    height: 100%;
    background-color: rgb(255, 61, 61);
    padding: 15px;
    width: 290px;
    left: -270px;
    position: fixed;
    margin: 0;
    flex-direction: column;
    transition: left .5s cubic-bezier(.55, .06, .68, .19);
}

body > header.locked#links:hover{
    left: 0;
    transition: left .5s cubic-bezier(.55, .06, .68, .19);
}

a.big-button {
    font-family: 'Google Sans',arial,sans-serif;
    margin: 5px;
    position: unset;
    padding: 10px;
    display: inline-block;
    background-color: orangered;
    text-decoration: none;
    color: black;
    border: 1px white solid;
    border-radius: 4px;
}

a.big-button:hover {
    background-color: orange;
    border: 1px black solid;
    border-radius: 8px;
}

body > header.locked#links a.header-a {
    display: inline;
    vertical-align: middle;
    color: rgb(255, 177, 61);
}